<%- include("../partials/header") %>
<style>
    .instruction{
        background: rgb(233, 244, 248);
        padding:20px;
    }
    #testbtn{
        width:400px;
        margin-top:40px;
    }
    
</style>
<div class="container">
    <div class="instruction">
        <h2>INSTRUCTIONS</h2>
        <p class="text-muted">Please read below instructions carefully befor attempting the quiz.</p>
    <ul>
        <li>There are 10 Multiple Choice Questions with only one orrect 
        </li>
        <li>There is no negative marking.</li>
        <li>
            Once the test has started, the timer cannot be paused. You have to complete the test in one attempt.
        </li>
        <li>Do not close the browser window or tab of the test interface before you submit your final answers</li>
        <li>It is recommended that you ensure that your system meets WeHire's compatibility requirements and check your Internet connection before starting the test.</li>
      
        <li>It is recommended that you attempt the test in an incognito or private window so that any extensions installed do not interfere with the test environment.</li>
        <li>
            We recommend that you close all other windows and tabs to ensure that there are no distractions
        </li>
        <li> You must click <b>Submit</b> after completing the test.</li>
        <li>Timer will start as soon as you will click the Start Test button.</li>
    </ul>
    <div>
        <button class="btn btn-primary btn-block " id="testbtn">START TEST</button>
    </div>
    
    </div>
    
</div>

<%- include("../partials/footer") %>