<%- include("../partials/header") %>
<style>
    .instruction{
        background: rgb(233, 244, 248);
        padding:20px;
    }
    #testbtn{
        width:400px;
        margin-top:40px;
    }
    *{
        box-sizing: border-box;
    }
    @media(max-width: 1200px) {
    .btn{
        display: block;
        max-width: 200px;
        white-space: normal;
    }
    /* .content{
        margin-top:20px;
    }
    .content a{
        font-size: 20px;
        font-weight: 900;
       
    } */
}
</style>
<!-- <script type="text/javascript">
    function noback()
    {
        window.history.forward();
    }
    setTimeout(function(){noback()},0);
    window.onunload = function(){null};
</script> -->
<!--     
<script type="text/javascript"> 
    // window.history.forward(); 
    // function noBack() { 
    //     window.history.forward(); 
    // }
    window.onbeforeunload = function() { return "Your work will be lost."; }; 
</script>  -->
<script type="text/javascript">
    function finishpage()
   {
     alert("unload event detected!");
    setTimeout(() => {'document.quiz.submit()'}, 1);  
     //document.quiz.submit();
   }
       window.onbeforeunload= function(finishpage) {
         return ;
    // setTimeout(() => {'document.quiz.submit()'}, 1);
    
   }
   </script>
<div class="container">
    <div class="instruction">
        <h2>INSTRUCTIONS</h2>
        <p class="text-muted">Please read below instructions carefully befor attempting the quiz.</p>
    <ul>
        <li>There are only Multiple Choice Questions with only one orrect 
        </li>
        <li>There is no negative marking.</li>
        <li>
            Once the test has started, the timer cannot be paused. You have to complete the test in one attempt.
        </li>
        <li>Do not close the browser window or tab of the test interface before you submit your final answers</li>
        <li>It is recommended that you ensure that your system meets WeHire's compatibility requirements and check your Internet connection before starting the test.</li>
      
        <li>It is recommended that you attempt the test in an incognito or private window so that any extensions installed do not interfere with the test environment.</li>
        <li>
            We recommend that you close all other windows and tabs to ensure that there are no distractions
        </li>
        <li> You must click <b>Submit</b> after completing the test.Otherwise It will be submitted automatically</li>
        <li>Do Not Try to Close or Change Tab Your Quiz will be Submitted and you wont be able to proceed Further in Test</li>
        <li>Test will start as soon as you will click the Start Test button.</li>
    </ul>
    <div>
        <a href="/quiz/<%= quiz._id %>/takequiz" class="btn btn-primary btn-lg" id="testbtn" >START TEST</a>
        <!-- <button class="btn btn-primary btn-block " id="testbtn">START TEST</button> -->
    </div>
    
    </div>
    <div class="content" style="margin: 30px;">
    <a href="/quiz/show" style="font-size: 20px;">Go back</a>
    </div>
</div>
</div>

<%- include("../partials/footer") %>