<%- include("../partials/navbarSeeker")%>
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register/seeker" method="post">
            <div class="form-group">
                <label for="name-f">First Name: </label>
                <input class="form-control" type="text"  placeholder="Enter First Name" name="firstname" id="name-f" required>
            </div>
            <div class="form-group">
                <label for="name-l">Last Name: </label>
                <input class="form-control" type="text"  placeholder="Enter Last Name" name="lastname" id="name-l" required>
            </div>

            <div class="form-group">
                <label for="email">Email ID: </label>
                <input class="form-control" type="text"  placeholder="Enter Email Id" name="email" required>
            </div>
            <!--
            <div class="form-group">
                <select class="form-control">
                    <option selected>Choose..</option>
                    <option value="India">India</option>
                    <option value="Pakistan">Pakistan</option>
                </select>
            </div>
        -->
            <div class="form-group">
                <label for="country">Country of Residence: </label>
                <input class="form-control" type="text" list="country-list" name="country" required>
                <datalist id="country-list">
                    <option value="India">
                    <option value="Pakistan">
                </datalist>
            </div>
            <div class="form-group">
                <label for="status">I am currently a: </label>
                <input class="form-control" type="text" list="title" name="status" required>
                <datalist id="title">
                    <option value="Student">
                    <option value="Professional">
                </datalist>
            </div>
            <div class="form-group">
                <label for="graduation">Graduation year: </label>
                <input class="form-control" type="text" list="grad-year" name="gradyear" required>
                <datalist id="grad-year">
                    <option value="2018">
                    <option value="2017">
                    <option value="2016">
                    <option value="2015">
                </datalist>
            </div>
            <div class="form-group">
                <label for="Linkedin">LinkedIN: </label>
                <input type="url" class="form-control" placeholder="Add your LinkedIn url" name="linkedinId" >
            </div>
            <!-- <div class="form-group">
                <label for="resume">Resume: </label>
                <input type="file" class="form-group" placeholder="Add resume" accept=".doc,.docx,.pdf,.txt" name="resume" required>
                <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PDF, DOCX, TXT)
                </small>
            </div> -->
            <div class="form-group">
                <label for="skill-set">Skills: </label>
                <input class="form-control" type="text" list="skills" name="skills" required>
                <datalist id="skills">
                    <option value="C++">
                    <option value="C">
                    <option value="Java">
                    <option value="JavaScript">
                    <option value="HTM">
                    <option value="CSS">
                    <option value="NodeJS">
                    <option value="Express">
                </datalist>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/register">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>