<%- include("../partials/header")%>
<script src="path/to/intlTelInput.js"></script>
<style>
    .iti__flag {
        background-image: url("path/to/flags.png");
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .iti__flag {
            background-image: url("path/to/flags@2x.png");
        }
    }
</style>
<div class="container">
<div class="row">
    <h2 style="text-align: center">SIGN UP</h2>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register/seeker" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name-f">First Name: </label>
                <input style="
                    text-transform: capitalize;" class="form-control" type="text" placeholder="Enter First Name"
                    name="firstname" id="name-f" required>
            </div>
            <div class="form-group">
                <label for="name-l">Last Name: </label>
                <input class="form-control" type="text" placeholder="Enter Last Name" name="lastname" id="name-l"
                    required>
            </div>
            <div class="form-group">
                <label for="gender">Sex: </label>
                <input class="form-control" type="text" list="gender-list" name="gender">
                <datalist id="gender-list">
                    <option value="Female">
                    <option value="Male">
                    <option value="Other">
                </datalist>
            </div>
            <!-- 
            <div class="form-group">
                <label for="email">Email ID: </label>
                <input class="form-control" type="text"  placeholder="Enter Email Id" name="email" required>
            </div> -->

            <div class="form-group">
                <label for="logo">Photo: </label>
                <input type="file" class="form-control-file" id="logo" name="image" placeholder="Add image"
                    accept=".png,.jpg,.jpeg" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PNG, JPG, JPEG)
                </small>
            </div>

            <!-- <div class="form-group">
                <label for="logo">Logo </label>
                <input type="file" class="form-group" id="logo" name="image" placeholder="Add image"
                    accept=".png,.jpg,.jpeg" aria-describedby="passwordHelpInline" required>
                <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PNG, JPG, JPEG)
                </small>
            </div> -->


            <!-- <div class="form-group">
                <label for="country">Country of Residence </label>
                <input class="form-control" type="text" list="country-list" name="country" required>
                <datalist id="country-list">
                    <option value="India">
                    <option value="Pakistan">
                </datalist>
            </div> -->
            <div class="form-group">
                <label for="status">I am currently a: </label>
                <input class="form-control" type="text" list="title" name="status" required>
                <datalist id="title">
                    <option value="Student">
                    <option value="Professional">
                </datalist>
            </div>
            <div class="form-group">
                <label for="graduation">Graduation year: </label>
                <input class="form-control" type="text" list="grad-year" name="gradyear" required>
                <datalist id="grad-year">
                    <option value="2024">
                    <option value="2025">
                    <option value="2023">
                    <option value="2022">
                    <option value="2021">
                    <option value="2020">
                    <option value="2019">
                    <option value="2018">
                    <option value="2017">
                    <option value="2016">
                    <option value="2015">
                    <option value="2014">
                    <option value="2013">
                    <option value="2012">
                    <option value="2011">
                    <option value="2010">
                    <option value="2009">
                    <option value="2008">
                    <option value="2007">
                    <option value="2006">
                    <option value="2005">
                    <option value="2004">
                    <option value="2003">
                    <option value="2002">
                    <option value="2001">
                    <option value="2000">
                    <option value="1999">
                    <option value="1998">
                    <option value="1997">
                    <option value="1996">
                    <option value="1995">
                    <option value="1994">
                    <option value="1993">
                    <option value="1992">
                </datalist>
            </div>
            <div class="form-group">
                <label>College:</label>
                <input type="text" class="form-control" placeholder="University Name" name="education" required>
            </div>
            <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" class="form-control" placeholder="Choose your Degree" list="degree" name="degree"
                    required>
                <datalist id="degree">
                    <option value="Associate of Arts (AA)">
                    <option value="Associate of Science (AS)">
                    <option value="Bachelor of Applied Science (B.ASc)">
                    <option value="Bachelor of Architecture (B.Arch)">
                    <option value="Bachelor of Arts (BA)">
                    <option value="Bachelor of Buisness Administration (BBA)">
                    <option value="Bachelor of Commerce">
                    <option value="Bachelor of Computer Applications (BCA)">
                    <option value="Bachelor of Design (BD)">
                    <option value="Bachelor of Engineering (BE)">
                    <option value="Bachelor of Law (L.L.B)">
                    <option value="Bachelor of Science (B.Sc)">
                    <option value="Bachelor of Technology (B.Tech)">
                    <option value="Master of Applied Science (B.ASc)">
                    <option value="Master of Architecture (B.Arch)">
                    <option value="Master of Arts (BA)">
                    <option value="Master of Buisness Administration (BBA)">
                    <option value="Master of Commerce">
                    <option value="Master of Computer Applications (BCA)">
                    <option value="Master of Design (BD)">
                    <option value="Master of Engineering (BE)">
                    <option value="Master of Law (L.L.B)">
                    <option value="Master of Science (B.Sc)">
                    <option value="Master of Technology (B.Tech)">
                    <option value="Research Doctorate">
                    <option value="Other">
                </datalist>
            </div>
            <div class="form-group">
                <label>Major field of study: </label>
                <input type="text" class="form-control" placeholder="Stream or Major Subject" name="stream">
            </div>
            <div class="form-group">
                <label for="studyyear">Year of Study: </label>
                <!-- Graduate,final year,fourth year,third year,second year,first year -->
                <input class="form-control" type="text" list="studyyear" name="studyyear" required/>
                <datalist id="studyyear">
                    <option value="First Year">
                    <option value="Second Year">
                    <option value="Third Year">
                    <option value="Fourth Year">
                    <option value="Fifth Year">
                    <option value="Undergraduate Complete">
                    <option value="Postgraduate Complete">
                </datalist>
            </div>
            <div class="form-group">
                <label>CPI: </label>
                <input type="text" class="form-control" placeholder="CPI /10.00" name="cgpa">
            </div>

            <div class="form-group">
                <label for="Linkedin">LinkedIn ID: </label>
                <input type="url" class="form-control" placeholder="Add your LinkedIn url if any" name="linkedinId">
            </div>
            <div class="form-group">
                <label for="github">GitHub Profile: </label>
                <input type="url" class="form-control" placeholder="Add your Github Profile if any" name="githubId">
            </div>
            <div class="form-group">
                <label for="website">Your Website: </label>
                <input type="url" class="form-control" placeholder="Add your own Website if any" name="website">
            </div>
            <div class="form-group">
                <label for="resume">Resume: </label>
                <input type="file" class="form-control-file" placeholder="Add resume" accept=".doc,.docx,.pdf,.txt"
                    name="resume" aria-describedby="passwordHelpInline" required>
                <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PDF, DOCX, TXT)
                </small>
            </div>
            <div class="form-group">
                <label for="skill-set">Skills: </label>
                <select class="form-control" id="skill-set" name="skills" required multiple aria-describedby="passwordHelpInline">
                    <option value="C++">C++</option>
                    <option value="C">C</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="NodeJS">NodeJS</option>
                    <option value="Express">Express</option>
                </select>
                <small id="passwordHelpInline" class="text-muted">
                    Press CTRL and click above button to select multiple options at once.
                </small>
            </div>
            <div class="form-group">
                <label for="phone">Contact No: </label>
                <input type="tel" class="form-group" style="width:100%;padding:7px;
                border-radius:7px; border: 1px solid rgb(185, 197, 199);" name="phone" pattern="[0-9]{10}" id="phone">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Address:</label>
                <div class="col-sm-8">
                    <!-- <input style="width:100%;padding:7px;
                    border-radius:7px; border: 1px solid rgb(185, 197, 199) ;margin:6px 0;" type="text" id="ownPlaces" name="ownPlaces" /> -->
                    <input style="width:100%;padding:7px;
                    border-radius:7px; border: 1px solid rgb(185, 197, 199); margin:6px 0;" type="text" id="ownCountry"
                        name="ownCountry" placeholder="Country" />
                    <input style="width:100%;padding:7px;
                    border-radius:7px; border: 1px solid rgb(185, 197, 199) ;margin:6px 0;" type="text" id="ownState"
                        name="ownState" placeholder="State" />
                    <input style="width:100%;padding:7px;
                    border-radius:7px; border: 1px solid rgb(185, 197, 199); margin-top: 6px; margin-bottom: 14px;"
                        type="text" id="ownCity" name="ownCity" placeholder="City" />
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
        </form>
        <a href="/register">Go Back</a>
    </div>
</div>


</div>
<script type="text/javascript">
    // $(function () {
    //     $('#select-name').selectize({
    //         plugins: ['remove_button']
    //     });
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('ownCountry'));
        google.maps.event.addListener(places, 'place_changed', function () {
            console.log(places.getPlace());
            var getaddress = places.getPlace();
            //alert(getaddress.address_components[0].long_name);
            //alert(getaddress.formatted_address);
            var whole_address = getaddress.formatted_address;
            var split_whole_address = whole_address.split(',');
            //alert(split_whole_address);
            var whole_address_length = split_whole_address.length;
            //alert(whole_address_length);

            if (whole_address_length == 2) {
                var ownCity = split_whole_address[0]; //alert(ownCity+'ownCity');
                var ownState = split_whole_address[0]; //alert(ownState+'ownState');
                var ownCountry = split_whole_address[1]; //alert(ownCountry+'ownCountry');

                $('#ownCity').val(ownCity);
                $('#ownState').val(ownState);
                $('#ownCountry').val(ownCountry);
            }
            else {
                var ownCity = split_whole_address[0]; //alert(ownCity+'ownCity');
                var ownState = split_whole_address[1]; //alert(ownState+'ownState');
                var ownCountry = split_whole_address[2]; //alert(ownCountry+'ownCountry');

                $('#ownCity').val(ownCity);
                $('#ownState').val(ownState);
                $('#ownCountry').val(ownCountry);
            }
        });
    });
</script>


<%- include("../partials/footer") %>