<%- include("../partials/header") %>
<div class="container">
<div class="row">

    <div style="width: 30%; margin: 100px auto;">
        <div class="form-group">
            <a href="/quiz" class="btn btn-lg btn-warning active btn-block">Quizes</a>
        </div>
    
     <!-- <div class="form-group">
         <a href="/quiz/2/index" class="btn btn-lg btn-warning active btn-block">Test 2</a>
     </div>
 
     <div class="form-group">
         <a href="/quiz/3/index" class="btn btn-lg btn-warning active btn-block">Test 3</a>
     </div> -->
     <div class="form-group">
        <a href="/admin/companies/1" class="btn btn-lg btn-warning active btn-block">Registered Companies</a>
    </div> <div class="form-group">
        <a href="/admin/seekers/1" class="btn btn-lg btn-warning active btn-block">Registered Seeker</a>
    </div> <div class="form-group">
        <a href="/admin/feedback/1" class="btn btn-lg btn-warning active btn-block">Feedback data</a>
    </div>
    <div class="form-group">
        <a href="/admin/jobs/1" class="btn btn-lg btn-warning active btn-block">Jobs Posted</a>
    </div>
     </div>
 </div>
 </div>
<%- include("../partials/footer") %>