<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
=======
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
>>>>>>> b459014dda732541375a1787daec4d1ca8d331fb
    <head>
        <title>job_portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body>
