<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />  
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script> -->
  <link rel="stylesheet" href="stylesheets/about.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> -->
  <title>Contact Us - Simple Snippets</title>
</head>
<!-- xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 | 1200<xl -->

    <body>
        <header>
          <div class="p-1" id="topHeader">
            <div class="container">
              <div class="row">
                <div class="col-12 text-right">
                  <a class="p-1" href="tel:+919090909090"> <i class="fas fa-phone"></i> +(91) 9090909090 </a>
                  <a class="p-1" href="mailto:simplesnippetsinfo@gmail.com  "> <i class="fas fa-envelope"></i> simplesnippetsinfo@gmail.com </a>
                </div>
              </div>
            </div>
          </div>
          <div id="bottomHeader">
            <div class="container-fluid">
              <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
                <a class="navbar-brand" href="">
                  <img src="imgs/logo_text_white_small.png" width="250px" alt="">
                </a>
                <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="default.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Services</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="webdesigning.html">Web Designing</a>
                        <a class="dropdown-item" href="webdevelopment.html">Web Development</a>
                        <a class="dropdown-item" href="seoservices.html">SEO Services</a>
                        <a class="dropdown-item" href="softwaredevelopment.html">Software Development</a>
                        <a class="dropdown-item" href="mobileapps.html">Mobile App Development</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="graphicdesign.html">Graphic Designing</a>
                      </div>
      
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="aboutus.html">About Us</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="contactus.html">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
      
            </div>
          </div>
      
        </header>
      
        <footer class="full-footer">
          <div class="container top-footer p-md-3 p-1">
            <div class="row">
              <div class="col-md-3 pl-4 pr-4">
                <img class="img-fluid" src="imgs/logo_text_white_small.png" alt="">
                <p>
                  Simple Snippets is a Tech-Educational Channel / Platform / Blog / Medium for anyone and everyone ...<a href="#">Read
                    more...</a>
                </p>
                <a style="color:silver;" class="p-1" href="#"><i class="fab fa-2x fa-facebook-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-google-plus-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fab fa-2x fa-instagram"></i></a>
              </div>
      
              <div class="col-md-3  pl-4 pr-4">
                <h3>Important Links</h3>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Youtube Channel Link </a><br>
                <a href="#">Blog Articles </a><br>
                <a href="#">Social Media</a>
              </div>
      
              <div class="col-md-3  pl-4 pr-4">
                <h3>Our Services</h3>
                <a href="webdesigning.html">Web Designing </a><br>
                <a href="webdevelopment.html">Web Development  </a><br>
                <a href="seoservices.html">SEO services  </a><br>
                <a href="softwaredevelopment.html">Software Development </a>
                <a href="mobileapps.html">Mobile App Development  </a>
                <a href="graphicdesign.html">Graphic Designing</a>
              </div>
           
            <div class="col-md-3  pl-4 pr-4">
                <h3>Contact Us</h3>
                <a href="#"><i class="fas fa-phone"></i> +(91) 9090909090  </a><br>
                <a href="mailto:simplesnippetsinfo@gmail.com  "><i class="fas fa-envelope"></i> abc@gmail.com  </a><br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64333236168!2d72.74110193617271!3d19.082522317332813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1547151374329" frameborder="0"></iframe>
                </div>
                
            </div>
          </div>
          </div>
          <div class="container-fluid bottom-footer pt-2">
            <div class="row">
              <div class="col-12 text-center">
                <p>Copyrights © 2018 - All rights reserved</p>
              </div>
            </div>
          </div>
      
        </footer>
      
      
      


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>