<%- include("partials/header1") %>
<div class="container">
<div class="row mt-5">
    <div class="col-md-8 m-auto">
    <!-- <h1 style="text-align: center">Forgot Password</h1> -->
    <!-- <div style="width: 40%; margin: 25px auto;"> -->
        <form action="/forgot" method="POST">
            <h1 class="display-5 mb-2" style="text-align: center;">Forgot Password</h1>
            <br>
            
        <div class="card card-body text-center mb-3" style="background:#303030;">
            
            <div class="form-group">
                <input class="form-control mb-4" style="color:white;" type="text" name="email" placeholder="Enter the email for verification" autofocus>
            </div>
            <div class="form-group">
                <button type="submit" style="color:white;" value="Reset Password" class="btn btn-info btn-block btb-lg">Update Password</button>
              </div>
            <!-- <div class="form-group">
				<input type="submit mb-4" style="color:white;" class=" form-control btn btn-info" value="Reset Password">
			</div> -->
        </form>
        <p class="mt-1 text-center" style="color:white;">
            New User? <a href="/register">Register</a>
        </p>
        <p class="text-center" style="color:white;">
            Remember Password? <a href="/login">Login</a>
        </p>
    </div>
</div>
</div>
<%- include("partials/footer1") %>