
<%- include ("partials/header") %>
<script>
    $('head').append('<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">');
    </script>
    
<section>
<div class="container1">

<div class="user SigninBx">
	<div class="formBx">
		<form action="/forgot" method="POST">
		   <h2>Forgot Password</h2>
		   <input type="text" name="email" placeholder="Enter email" required/>
		   <input type="submit" name="submit" value="Reset Password" style="max-width: inherit;" />
		  <p class="signup">
			Don't have an account ?
			<a href="/register">Sign Up.</a>
		  </p>
		  <p class="signup">
			Remember your password ?
			<a href="/login">Login.</a>
		  </p>
		</form>

	</div>
</div>
</div>
</section>

<%- include ("partials/footer") %>