<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-portal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/landing.css">
	<!------multiple background-------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <title>Document</title>

</head>
<body>
    <div class="container">
        <% if(error && error.length >0){%>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <%= error %>
        </div>
        <% }%>
        <% if(success && success.length >0){%>
            <div class="alert alert-success alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            <%= success %>
            </div>
            <%}%>
    </div>
    <div id="landing-header">
         <h1><b>WeHire</b></h1>
        <a href="/login" style="margin: 20px 5px;" class="btn btn-lg btn-success active">Login</a>
        <a href="/register" style="margin: 20px 5px ;" class="btn btn-lg btn-success active">Register</a>
        
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</body>
</html>
<!--
<div class="row">
    <div class="container">
        <h1 style="text-align: center">Welocme to JOB-PORTAL</h1>
        <div style="width: 30%; margin:40px 45%;">
            <a href="/login" class="btn btn-lg btn-warning">login</a>
            <a href="/register" class="btn btn-lg btn-warning" >register</a>
        
        </div>
    </div>
</div>

<%- include("partials/footer") %>
-->