<!DOCTYPE html>
<html>
    <head>
        <title>job_portal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body>
        <div id="landing-header">
            <h1>WELCOME TO JOB-PORTAL</h1>
            <a href="/login" class="btn btn-lg btn-warning">login</a>
            <a href="/register" class="btn btn-lg btn-warning">register</a>
        </div>
    </body>
</html>