<%- include("partials/header") %>
 <style>
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: rgba(159, 248, 248, 0.836); */
    background-color:#c0c0c0;

}
section {
position: relative;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}

section .container1 {
position: relative;
width: 800px;
height: 500px;
background: #fff;
/* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1); */
overflow: hidden;
box-shadow: 0 15px 150px #000;
}

section .container1 .user {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
}

.imgBx1 {
position: relative;
width: 50%;
height: 100%;
transition: 0.5s;
background-image: url(https://image.cnbcfm.com/api/v1/image/105663804-1546882086385gettyimages-1083775768.jpeg?v=1565188966&w=1600&h=900);
background-image: 
-webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%), /* Chrome10+,Safari5.1+ */
url(https://image.cnbcfm.com/api/v1/image/105663804-1546882086385gettyimages-1083775768.jpeg?v=1565188966&w=1600&h=900);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
opacity: 0.9;
}
 
.imgBx2{
position: relative;
width: 50%;
height: 100%;
transition: 0.5s;
background-image: url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
background-image: 
-webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%), /* Chrome10+,Safari5.1+ */
url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
opacity: 0.9;
}


section .container1 .user .formBx {
position: relative;
width: 50%;
height: 100%;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
transition: 0.5s;
}

section .container1 .user .formBx form h2 {
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
width: 100%;
margin-bottom: 10px;
color: #555;
}

section .container1 .user .formBx form input {
position: relative;
width: 100%;
padding: 10px;
background: #f5f5f5;
color: #333;
border: none;
outline: none;
box-shadow: none;
margin: 8px 0;
font-size: 14px;
letter-spacing: 1px;
font-weight: 300;
}

section .container1 .user .formBx form input[type='submit'] {
max-width: 100px;
background: #677eff;
color: #fff;
cursor: pointer;
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
transition: 0.5s;
}

section .container1 .user .formBx form .signup {
position: relative;
margin-top: 20px;
font-size: 12px;
letter-spacing: 1px;
color: #555;
text-transform: uppercase;
font-weight: 300;
}

section .container1 .user .formBx form .signup a {
font-weight: 600;
text-decoration: none;
color: #677eff;
}
span{
position: relative;
letter-spacing: 1px;
font-weight: 300;
}

section .container1 .signupBx {
pointer-events: none;
}

section .container1.active .signupBx {
pointer-events: initial;
}

section .container1 .signupBx .formBx {
left: 100%;
}

section .container1.active .signupBx .formBx {
left: 0;
}

section .container1 .signupBx .imgBx2 {
left: -100%;
}

section .container1.active .signupBx .imgBx2 {
left: 0%;
}

section .container1 .signinBx .formBx {
left: 0%;
}

section .container1.active .signinBx .formBx {
left: 100%;
}

section .container1 .signinBx .imgBx1 {
left: 0%;
}

section .container1.active .signinBx .imgBx1 {
left: -100%;
}

@media (max-width: 991px) {
section .container1 {
  max-width: 400px;
}

section .container1 .imgBx1 {
  display: none;
}
section .container1 .imgBx2 {
  display: none;
}
section .container1 .user .formBx {
  width: 100%;
}
}

    .field-icon{
        float: right;
        margin-left: -25px;
         margin-top: -35px;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        z-index: 100;
    }
    .navbar{
        margin-bottom: 0;
        border: none;
        border-radius: 0;
    }
    .container1 .imgBx1 p,.container1 .imgBx2 p{
        text-align: center;
        margin-top: 30vh;
        padding: 15px;
        color: white;
        font-weight: 500;
        font-size: 30px;
    }
    .content{
        text-align: center;
        font-weight: 300;
        font-size: 15px;
        color: whitesmoke;
        
    }
    a{
        text-decoration: none;
    }
    .content a:hover{
        text-decoration: underline;
        font-weight: 500;
    }
</style>  
 <section>
    <div class="container1">
      <!-- SIGN IN start--><img src="" alt="" />
      <div class="user signinBx">
        <div class="imgBx1"><p>Welcome Back!</p><div class="content"><a href="/aboutus" style="color: whitesmoke;">Know more about us</a></div></div>
        <div class="formBx">
          <!-- <form action="" onsubmit="return false;"> -->
            <form action="/login" method="POST">
            <h2>Sign In</h2>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <input type="submit" name="submit" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
            <p class="signup">
              Forgot Password ?
              <a href="/forgot">Reset.</a>
            </p>
            
          </form>
        </div>
      </div>
      <!-- SIGN IN end-->
      <!-- SIGN UP start-->
      <div class="user signupBx">
        <div class="formBx">
          <!-- <form action="" onsubmit="return false;"> --> 
          <form action="/register" method="POST">
            <h2>Create an account</h2>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="email" name="email" placeholder="Email Address" required/>

            <input type="password" name="password" id="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password should contain atleast one number,one uppercase and lowercase letter, and should be atleast 8 characters long" placeholder="Create Password"/>
            <span toggle="#password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>

            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required/>
            <span toggle="#confirm_password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    
            <label class="radio-inline">
            <input type="radio" name="role" value="company" required><span>Company</span>
            </label>
            <label class="radio-inline">
            <input type="radio" name="role" value="seeker"><span>Seeker</span>
            </label>
            <input type="submit" name="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx2"><p>Welcome to WeHire Family!</p><div class="content"><a href="/aboutus" style="color: whitesmoke;">Know more about us</a></div></div>
      </div>
      <!-- SIGN UP end -->
    </div>
  </section>

  <% if(log) { %>
    <script>
        const container = document.querySelector('.container1');
        container.classList.toggle('active');
</script>
<% } %>
   <script>
    $(".toggle-password").click(function() {
        console.log("toggle");
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
        });

        var password = document.getElementById("password1")
      , confirm_password = document.getElementById("confirm_password");
  function validatePassword() {
      if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
          confirm_password.setCustomValidity('');
      }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

  const toggleForm = () => {
const container = document.querySelector('.container1');
container.classList.toggle('active');
};
</script>
<%- include("partials/footer") %>