<%- include("partials/header") %>
 <script>$('head').append('<link rel="stylesheet" type="text/css" href="stylesheets/login.css">')</script>  
  
 <section>
    <div class="container1">
      <!-- SIGN IN start--><img src="" alt="" />
      <div class="user signinBx">
        <div class="imgBx1"><p>Welcome Back!</p><div class="content"><a href="/aboutus" style="color: whitesmoke;">Know more about us</a></div></div>
        <div class="formBx">
          <!-- <form action="" onsubmit="return false;"> -->
            <form action="/login" method="POST">
            <h2>Sign In</h2>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <input type="submit" name="submit" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
            <p class="signup">
              Forgot Password ?
              <a href="/forgot">Reset.</a>
            </p>
            
          </form>
        </div>
      </div>
      <!-- SIGN IN end-->
      <!-- SIGN UP start-->
      <div class="user signupBx">
        <div class="formBx">
          <!-- <form action="" onsubmit="return false;"> --> 
          <form action="/register" method="POST">
            <h2>Create an account</h2>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="email" name="email" placeholder="Email Address" required/>

            <input type="password" name="password" id="password1" placeholder="Create Password"/>
            <span toggle="#password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>

            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required/>
            <span toggle="#confirm_password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    
            <label class="radio-inline">
            <input type="radio" name="role" value="company" required><span>Company</span>
            </label>
            <label class="radio-inline">
            <input type="radio" name="role" value="seeker"><span>Seeker</span>
            </label>
            <label class="radio-inline">
            <input type="radio" name="role" value="Admin"><span>Admin</span>
            </label>
            <input name="adminCode" type="text" placeholder="AdminCode:(If admin)">
            <input type="submit" name="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx2"><p>Welcome to WeHire Family!</p><div class="content"><a href="/aboutus" style="color: whitesmoke;">Know more about us</a></div></div>
      </div>
      <!-- SIGN UP end -->
    </div>
  </section>

  <% if(log) { %>
    <script>
        const container = document.querySelector('.container1');
        container.classList.toggle('active');
</script>
<% } %>
   <script>
    $(".toggle-password").click(function() {
        console.log("toggle");
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
        });

        var password = document.getElementById("password1")
      , confirm_password = document.getElementById("confirm_password");
  function validatePassword() {
      if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
          confirm_password.setCustomValidity('');
      }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

  const toggleForm = () => {
const container = document.querySelector('.container1');
container.classList.toggle('active');
};
</script>
<%- include("partials/footer") %>