<%- include("partials/header") %>

<div class="container">
    <div>
        <h2>For Companies</h2>
        <a href="/login/employee" class="btn btn-lg btn-success">Login</a>
    </div>
    <hr>
    <div>
        <h2>For Developers</h2>
        <a href="/login/seeker" class="btn btn-lg btn-success">Login</a>
    </div>
</div>



<%- include("partials/footer") %>
