<%- include("partials/header1")%>
<style>
    .field-icon{
        float: right;
        margin-left: -25px;
         margin-top: -25px;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        z-index: 2;
    }
</style>
<div class="row mt-3">
    <div class="col-md-6 m-auto">
        <h1 class="display-4 mb-2" style="text-align: center;">Sign Up</h1>
    <!-- <div style="width: 50%;height:100%; margin: 25px auto;"> -->
        <div class="card card-body text-center" style="background:#303030;">
            <h1 class="mb-3">
                <img src="https://wickes.scene7.com/is/image/travisperkins/300819-Wickes-Log-In-TradePro-Icon?fmt=png-alpha" alt="icon" width="20%" />
            </h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="name1" style="color:white;">UserName: </label>
                <input class="form-control" type="text" id="name1" name="username" placeholder=" username" required>
            </div>
            <div class="form-group">
                <label for="password" style="color:white;">Enter Password: </label>
                <input class="form-control" type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password should contain atleast one number,one uppercase and lowercase letter, and should be atleast 8 characters long" placeholder="password" name="password" required>
                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <div class="form-group">
                <label for="confirm_password" style="color:white;">Confirm password: </label>
                <input class="form-control" type="password" placeholder="confirm password" id="confirm_password"
                    required>
                    <span toggle="#confirm_password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            
            <div class="form-group">
                <label for="email" style="color:white;">Work Email ID: </label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email Id"  required>
            </div>
            <div class="form-group" style="color:white;">
                <p>Please select your role:</p>
                <input type="radio" id="company" name="role" value="company" required>
                <label for="company" style="color:white;">Company</label><br>
                <input type="radio" id="seeker" name="role" value="seeker">
                <label for="seeker" style="color:white;">Seeker</label><br>
                <input type="radio" id="admin" name="role" value="Admin">
                <label for="admin" style="color:white;">Admin</label><br>
            </div>
            <div class="form-group">
                <label for="adminCode" style="color:white;">AdminCode: </label>
                <input class="form-control" name="adminCode" type="text" placeholder="AdminCode:(If admin)" id="adminCode">
            </div>
            
            <div class="form-group">
                <button class="btn btn-lg btn-primary active btn-block" style="color:white;">Sign Up!</button>
            </div>
        </form>
        <p class="mt-2 text-center" style="color:white;">Already have an account? <a href="/login">Login</a></p>
    </div>
    <!-- </div> -->
</div>
</div>
<script type="text/javascript">
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");
    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    $(".toggle-password").click(function() {
console.log("toggle");
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});
</script>
<%- include("partials/footer1") %>