<%- include("partials/header") %>

<div class="container">
    <div>
        <h2>For Companies</h2>
        <a href="/register/company" class="btn btn-lg btn-success">Sign Up & Hire</a>
    </div>
    <hr>
    <div>
        <h2>For Developers</h2>
        <a href="/register/seeker" class="btn btn-lg btn-success">Sign Up & Apply</a>
    </div>
</div>



<%- include("partials/footer") %>