
<%- include ("partials/header") %>
<script>$('head').append('<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">');</script>
<section>
<div class="container1">

<div class="user SigninBx">
	<div class="formBx">
		<form action="/reset/<%= id %>" method="POST">
		   <h2>Reset Password</h2>
		   <input type="password" name="password" id="password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password should contain atleast one number,one uppercase and lowercase letter, and should be atleast 8 characters long" placeholder="New password" autofocus="autofocus" required/>
		   <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		   <input type="password" name="confirm_password"id="confirm_password" value="" placeholder="Confirm password" required/>
		   <span toggle="#confirm_password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		   <input type="submit" name="submit" style="max-width: none" value="Update Password" />
		  <p class="signup">
			Don't have an account ?
			<a href="/register">Sign Up.</a>
		  </p>
		  <p class="signup">
			Remember your password ?
			<a href="/login">Login.</a>
		  </p>
		</form>

	</div>
</div>
</div>
</section>
<script>

$(".toggle-password").click(function() {
        console.log("toggle");
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
        });

        var password = document.getElementById("password1")
      , confirm_password = document.getElementById("confirm_password");
  function validatePassword() {
      if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
          confirm_password.setCustomValidity('');
      }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

</script>

<%- include ("partials/footer") %>
