.myrows{
    border: 3px solid green;
    padding: 5px;
  }
  .mycols{
    border: 3px solid red;
  }
  .mycontainer{
    background-color: aqua;
  }
  #topHeader{
    border-bottom: 1px solid #ebebeb;
  }
  #topHeader a{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
  }
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  nav ul li a {
      font-size: 1.1rem;
      font-weight: 600;
  }
  
  /* START : Footer */
  .full-footer{
    background-color: #243c4f;
    
  }
  .top-footer p{
    color: white;
  }
  .top-footer a{
    color: white;
    font-weight: 600;
  }
  .top-footer h3{
    color: white;
  }
  .bottom-footer{
    background-color: #031b2e;
  }
  .bottom-footer p{
    color: white;
  }
  
  /* END : Footer */
  
  /* Start : Home page first hero section */
  .top-hero-section{
  background-color: #3498db;
  color: white;
  }
  .top-hero-section a{
    color: white;
    font-weight: 600;
  }
  .qualities-img{
    width:200px;
  }
  /* END : Home page first hero section */
  
  /* START : Home page 3rd requirement section */
  .requirements-section{
    background-color: #004d80;
    color: white;
  }
  /* END : Home page 3rd requirement section */
  
  
  /* START : Home page 4rd newsletter section */
  .home-newsletter{
    background-color: #004d80;
    color: white;
  }
  .home-newsletter .form-control {
      height: 50px;
      border-color: transparent;
      border-radius: 20px 0 0 20px;
  }
  .home-newsletter .btn {
      min-height: 50px;
      border-radius: 0 20px 20px 0;
      background: #be0280;
      color: #fff;
  }
  
  /* END : Home page 4rd newsletter section */
  
  
  .clients-section{
    background-color: #f0f0f0;
  }
  
  /* END-------------------- of home page ---------------------- */
  
  /* START-------------------- of About page ---------------------- */
  .breadcrumbs-section{
    background-color: #e9ecef;
  }
  
  