<%- include("../partials/header") %>

<div class="row">
    <div class="form-group">
        <a href="/login/company/createjob" class="btn btn-sm btn-info btn-block">create job</a>
    </div>

    <div class="form-group">
        <a href="/login/company/viewjob" class="btn btn-sm btn-info btn-block">viewjob</a>
    </div>
        <a href="/">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>