<%- include("../partials/header") %>
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register/company" method="post">
            <div class="form-group">
                <label for="name">Company Name: </label>
                <input class="form-control" type="text" name="name"  placeholder="Company Name"  required> 
            </div>

            <div class="form-group">
                <label for="email">Work Email ID: </label>
                <input class="form-control" type="email" name="email" placeholder="Enter Email Id"  required>
            </div>
            <div class="form-group">
                <label for="tagline">Tagline: </label>
                <input class="form-control" type="text" name="tagline" placeholder="Briefly describe about your company"  required>
            </div>

            <div class="form-group">
                <label for="description">Desrciption: </label>
                <textarea class="form-control" name="description" rows="3" ></textarea>
            </div>
            <!-- <div class="form-group">
                <label for="website">Website: </label>
                <input type="url" class="form-control" placeholder="Add your company website link" id="website" required>
            </div> -->
            <div class="form-group">
                <label for="logo">Logo: </label>
                <input type="file" class="form-group"  name="logo" placeholder="Add logo"   aria-describedby="passwordHelpInline" required>
                <small id="passwordHelpInline" class="text-muted">
                    (Accepted file formats: PNG, JPG, JPEG)
                </small>
            </div>
            <div class="form-group">
                <label for="password">Enter Password: </label>
                <input class="form-control" type="password"  placeholder="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm password: </label>
                <input class="form-control" type="password"  placeholder="confirm password" id="confirm_password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>
<script type="text/javascript">
var password = document.getElementById("password")
, confirm_password = document.getElementById("confirm_password");

function validatePassword(){
if(password.value != confirm_password.value) {
  confirm_password.setCustomValidity("Passwords Don't Match");
} else {
  confirm_password.setCustomValidity('');
}
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
<%- include("../partials/footer") %>