<%- include("../partials/header") %>

<div class="row">
    <h1 style="text-align: center">Post a Job</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login/company/createjob" method="post">
            <div class="form-group">
                <input class="form-control" type="text"  name="job[name]" placeholder=" Job Title/Position">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text"  name="job[location]" placeholder="Job Location">
            </div>
            <div class="form-group">
                <input class="form-control" type="text"  name="job[experience]" placeholder="Work-Experience">
            </div>
            <div class="form-group">
                <input class="form-control" type="text"  name="job[description]" placeholder="Job Description">
            </div>
            <!---<div class="form-group">
                <input class="form-control" type="password"  placeholder="Required Skills">
            </div>-->
          <!---  <div class="form-group">
                <input class="form-control" type="password"  placeholder="Employement Type">
            </div>-->
            <div class="form-group">
                <button class="btn btn-lg btn-info btn-block active">Create</button>
            </div>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>