<%- include("../partials/header") %>

<div class="container">
<div class="row">
   <div style="width: 30%; margin: 100px auto;">
    <div class="form-group">
        <a href="/company/<%= company._id %>/myprofile" class="btn btn-lg btn-warning active btn-block">MY PROFILE</a>
    </div>
    <div class="form-group">
        <a href="/company/createjob" class="btn btn-lg btn-warning active btn-block">POST A JOB</a>
    </div>

    <div class="form-group">
        <a href="/company/<%= currentUser._id %>/viewjob/1" class="btn btn-lg btn-warning active btn-block">JOB HISTORY</a>
    </div>
    </div>
</div>
<div class="container">
    <!-- block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-8">
            <div class="position-relative">
                <img src="https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,w_624,h_351,c_scale/v1393503570/4317.jpg" style="width: 400px; " alt="">
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="/" class="text-theme-color"><b>WeHire</b></a></h5>
                <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                    
                </ul>
                <p>A Great leader Of Present Can Help Create A Great Leader Of Tommorrow. We Will Always Believe & Support You For A Quality Recruitement. Help Building Careers Of Thousands Of Developers Who Look Forward To Work With You. Always Remember <i>Get Right Person for Right Job</i>.</p>
                <hr>
                <p >Want to Know More About Us?</p>
                <a class="butn small" style="margin-top: 0%;" href="/aboutus">About Us </a>
                <a class="butn small " href="/contactus">Contact Us </a>
            </div>
        </div>
    </div>
    
</div>
</div>
<script>
     $('head').append('<link rel="stylesheet" type="text/css" href="/stylesheets/company/show.css">');
</script>
<%- include("../partials/footer") %>