<%- include("../partials/header") %>
<div class="container">       
<div class="row">
			<h1 style="text-align: center">
				Add New Post to <%=  company.name %>
			</h1>
				<div style="width:40%; margin:25px auto;">
		<form action="/company/<%= company._id %>/posts" method="POST">
			<div class="form-group">
				<input  class="form-control" type="text"  placeholder="Post Heading" name="posts[heading]">
            </div>
            <div class="form-group">
				<!-- <input  class="form-control" type="text"  placeholder="Add Post Info Here" name="posts[description]"> -->
				<textarea cols="80" rows="6" name="posts[description]" placeholder="Add Post Info Here" style="width: 100%;padding:7px;
				border-radius:7px; border: 1px solid rgb(185, 197, 199); margin:6px 0;"></textarea>
			</div>
			<div class="form-group">
					<button class="btn btn-lg btn-success active btn-block">
					SUBMIT
				</button>
			</div>
			
		</form>
					
				</div>
		
            </div>
            </div>
<%- include("../partials/footer") %>