 <%- include("../partials/header") %>
<div class="container">       
<div class="row">
			<h1 style="text-align: center">
			 create quiz
			</h1>
				<div style="width:40%; margin:25px auto;">
		<form action="/quiz/new" method="POST">
			<div class="form-group">
				<input  class="form-control" type="text"  placeholder="Quiz Heading" name="title">
            </div>
			<div class="form-group">
					<button class="btn btn-lg btn-success active btn-block">
					SUBMIT
				</button>
			</div>
			
		</form>
					
				</div>
		
            </div>
            </div>
<%- include("../partials/footer") %> 