<%- include("../partials/header1") %>
<div class="container">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="display-4 mb-2" style="text-align: center;">Add New Question</h1><br>
        <div class="card card-body text-center" style="background:#303030;">
            <form action="/quiz1/questions" method="POST">
                <div class="form-group">
                    <label for="question" style="color:white;">Question: </label>
                    <input type="text" id="question" name="description" class="form-control" placeholder="Type the question" />
                </div>
                <div class="form-group">
                    <label for="opt1" style="color:white;">Correct Answer: </label>
                    <input type="text" id="opt1" name="correctAnswer" class="form-control"
                        placeholder="Type correct answer" />
                </div>
                <div class="form-group">
                    <label for="opt2" style="color:white;">Wrong Answer 1: </label>
                    <input type="text" id="opt2" name="wrongAnswer1" class="form-control"
                        placeholder="Type wrong answer 1" />
                    
                </div><div class="form-group">
                    <label for="opt3" style="color:white;">Wrong Answer 2: </label>
                    <input type="text" id="opt3" name="wrongAnswer2" class="form-control"
                        placeholder="Type wrong answer 2" />
                  
                </div><div class="form-group">
                    <label for="opt4" style="color:white;">Wrong Answer 3: </label>
                    <input type="text" id="opt4" name="wrongAnswer3" class="form-control"
                        placeholder="Type wrong answer 3" />
                    <!-- <div class="form-group" style="color:white;">
                            <p>Is this correct?: </p>
                            <input type="radio" id="correct" name="opt4isCorrect" value="Yes">
                            <label for="correct" style="color:white;">Yes</label><br>
                            <input type="radio" id="correct" name="opt4isCorrect" value="No">
                            <label for="correct" style="color:white;">No</label><br>
                     </div> -->
                </div> 
                <button type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <h1 style="text-align: center">Log In</h1>
    <div style="width: 40%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-secondary btn-block active">Login</button>
            </div>
        </form>
        <p class="mt-4 text-center">
            New User? <a href="/register">Register</a>
        </p>
        <p class="mt-4 text-center">
            Forgot Password? <a href="/forgot">Reset</a>
        </p>
    </div>
</div> -->

<%- include("../partials/footer1") %>