
    .navbar{
        margin-bottom: 0;
    }
    #message {
        background-color: rgb(185, 224, 211);
    }
    #message-content{
        padding-top: 10px; height: 50px;
    }
    .jumbotron{
        margin-top: 20px;
    }
    .container .h2{
        margin: 0px;
    }
    .row .display{
    display: flex; 
    flex-wrap: wrap;
    padding-left: 10px;
    }
    .thumbnail{
        padding-left: 20px;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
        border: 1px solid;
        border-color: #f2f3fa !important;
    }
    .thumbnail:hover{
            box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
    }
    .caption h3{
        padding-left:10%;
        font-weight: 500;
        text-transform: capitalize;color:#0e141e;
    }
    .thumbnail svg{
        margin-right:5px;
        color:#0e141e;
    }
